.loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.312);
    font-size: 50px;
    text-shadow: 0 0 10px rgb(0, 255, 81);
    backdrop-filter: blur(5px);
}

img {
    max-width: 70vw;
    max-height: 90vh;
}